/* CSS HEX */
/* --charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff; */




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content{
    height: 170vh;
    background-color: #264653ff;
}

footer{
    height: 30vh;
    background-color: #f4a261ff;
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

/* header section */
header{
    height: 10vh;
    background-color: #264653ff;

}

header nav{
    height: inherit;
    width: 40%;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header ul li{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #e76f51ff;
}

header ul li a:hover{
    color: #f4a261ff;
    text-decoration: underline;
}

/* heading section */

#heading{
    height: 30vh;
    width: 100%;
    
}

#heading hgroup{
    width: 100%;
    height: 10vh;
    background-color: #264653ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heading hgroup h1{
    
    color: #e76f51ff;
    font-size: 4rem;
}

#heading hgroup h1:hover{
    color: #f4a261ff;
    font-size: 4rem;
}

/* three posts section */


#highlight{
    background-color: #264653ff;
    width: 100%;
    height: 35vh;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.flowtow{
    height: 30vh;
    width: 40vh;
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: #f4a261ff;
    border: 10px solid #e76f51ff;
    justify-content: center;
    align-items: center;

}
.threepost-img{
    height: 20vh;
}

/* recent and popular posts */

#main-post-container{
    width: 100%;
    height: 100vh;
    background-color: #264653ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#posts-title{
    text-align: center;
}

#recentposts{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#popularposts{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.tenImg{
    width: 50px;
}

.recent-items{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 5px solid #e76f51ff;
    background-color: #f4a261ff;
    padding: 5px;
}

#recentpost-item{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#popularpost-item{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.posts-images{
 width: 50px;
}

.recent-items-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.likeButton{

}

.caption{
    width: 100px;
}

.username{
    width: 100%;
    text-align: left;
}
.date{
    width: 100%;
    text-align: left;
}
.likes{
    padding: 0 1.1rem;
}

#form-container{
    height: 5vh;
    background-color: #264653ff;
    padding-left: 5vh;
}

#login{
    color: #e76f51ff;   
    font-size: 1.2rem;
}
#error-message{
    color: red;
}

#createPost{
    
}

.content-container{
    height: 10vh;
    width: 100%;
}

.img-container{
    text-align: center;
    padding: 5px;
}

#social{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social ul{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
}

#social ul li{
    width: 15vh;
    text-align: center;
    list-style-type: none;
}

#social ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #264653ff;
}

.footer-tos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    height: 10vh;
    align-items: center;
}

.footer-tos li{
    width: 15vh;
    text-align: center;
}

.footer-tos li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #264653ff;
}
#copyright{
    width: 100%;
    text-align: center;
}